<h1>Edit Listings</h1>

<%= form_for (@listing) do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.label :country %>
		<%= f.text_field :country %>
	</div>
	<div>
		<%= f.label :state_or_province %>
		<%= f.text_field :state_or_province %>
	</div>
	<div>
		<%= f.label :address %>
		<%= f.text_area :address %>
	</div>
	<div>
		<%= f.label :max_guests %>
		<%= f.text_field :max_guests %>
	</div>
	<div>
		<%= f.label :price %>
		<%= f.text_field :price %>
	</div>
	<div>
		<%= f.submit 'change' %>
	</div>
<% end %>
