<%= link_to 'Home', root_path %>

<h1>Listing</h1>

<% @listings.each do |list| %>
	<p>
	<%= list.id %>
	<%= list.title %>
	<%= link_to 'Edit', edit_listing_path(list.id) %>
	<%= link_to 'Delete', 
				delete_listing_path(list.id),
					method: :delete,
					data: { confirm: 'Are you sure?' }  %>
	</p>
<% end %>